* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "cairo", sans-serif;
  background: url(img/bcgrnd.png);
  display: flex;
  align-items: center;
}
section {
  width: 80%;
  height: auto;

  background-color: #f2e1e3;
  margin: 2.4rem auto;
  padding: 3.6rem;
  border-radius: 30px;
}
h1 {
  margin-bottom: 1.6rem;
  font-size: 3.2rem;
  color: #5e1e1f;
}
p {
  font-size: 2.4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem;
}

.logo {
  height: 9.6rem;
}

.icons {
  font-size: 3.2rem;

  list-style: none;
  display: flex;
  gap: 1.6rem;
}

.icons a:link,
.icons a:visited {
  color: inherit;
}

.icons a:hover,
.icons a:active {
  color: #7e4b4c;
}
footer {
  color: #5e1e1f;
  width: auto;
  margin: 4.2rem auto;
  font-size: 2.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.disgener {
  background-color: #5e1e1f;
  color: #fff;
}

@media (max-width: 44em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 6px;
  }
}
